<style>
  h1 {
    padding-bottom: 10px; margin: 0px;
  }
  .top_tools_div {
    font: Arial;
    font-size: 12px;
  }
  .tools_div {
    font: Arial;
    font-size: 14px;
    padding-top: 10px; 
  }
</style>

<table width="100%" style="height:100%;">
  <tr>
    <td rowspan="2" valign="top">
      <%= @map.div(:width => "100%", :height => "500px;") %>
    </td>
    <td width="280px" valign="top">
      <div id="locations_div">
        <%= render :partial => '/map/partials/trip', :locals => {:locations => @trip.locations} %>
      </div>
    </td>
  </tr>
</table>